<Context>


    <!--Highlevel parameters-->
    <Parameter name="dk.statsbiblioteket.doms.bitstorage.highlevel.characteriserlocation" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/characteriser/characterise/?wsdl" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.bitstorage.highlevel.lowlevellocation" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/lowlevelbitstorage/lowlevel/?wsdl" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.bitstorage.highlevel.fedora.server" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/fedora" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.bitstorage.highlevel.fedora.characstream" value="CHARACTERISATION" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.bitstorage.highlevel.fedora.contentstream" value="CONTENTS" override="false"/>

    <!--lowlevel-->
    <Parameter name="dk.statsbiblioteket.doms.bitstorage.lowlevel.scriptimpl.script" value="$BITSTORAGE_SCRIPT$" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.bitstorage.lowlevel.bitfinder" value="$BITFINDER$" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.bitstorage.lowlevel.preferredBytesLeft" value="1000000" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.bitstorage.lowlevel.requiredBytesLeft" value="100000" override="false"/>

    <!--ECM-->
    <Parameter name="dk.statsbiblioteket.doms.ecm.fedora.connector" value="dk.statsbiblioteket.doms.ecm.repository.fedoraclient.FedoraClientConnector" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.ecm.fedora.location" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/fedora" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.ecm.pidGenerator.client" value="dk.statsbiblioteket.doms.ecm.repository.PidGeneratorImpl" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.ecm.pidgenerator.client.wsdllocation" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/pidgenerator/pidGenerator/?wsdl" override="false"/>

    <!--Central-->
    <Parameter name="dk.statsbiblioteket.doms.central.fedoraLocation" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/fedora" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.central.ecmLocation" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/ecm" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.central.bitstorageWSDL" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/highlevelbitstorage/highlevel/?wsdl" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.central.updateTrackerLocation" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/updatetrackerWebservice/updatetracker/?wsdl" override="false"/>

    <!--Ip role mapper-->
    <Parameter name="dk.statsbiblioteket.iprolemapping.configurationFile" value="$TESTBED_DIR$/tomcat/conf/ipRangesAndRoles.xml" override="false"/>

    <!--Auth checker-->
    <Parameter name="dk.statsbiblioteket.doms.authchecker.tickets.timeToLive" value="1200000" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.authchecker.users.timeToLive" value="1200000" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.authchecker.fedoralocation" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/fedora" override="false"/>

    <!--updateTracker-->
    <Parameter name="dk.statsbiblioteket.doms.updatetracker.fedoralocation" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/fedora" override="false"/>


    <Parameter name="dk.statsbiblioteket.doms.surveillance.fedorasurveyor.fedoraPassword" value="$FEDORAADMINPASS$" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.surveillance.fedorasurveyor.fedoraUrl" value="http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/fedora" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.surveillance.fedorasurveyor.fedoraUser" value="$FEDORAADMIN$" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.surveillance.surveyor.ignoredMessagesFile" value="ignored.txt" override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.surveillance.surveyor.restUrls"
               value="
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/surveillance-surveyor/surveyable/getStatusSince/{date};
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/surveillance-fedorasurveyor/surveyable/getStatusSince/{date};
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/authchecker/surveyable/getStatusSince/{date};
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/ecm/surveyable/getStatusSince/{date};
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/surveillance-logregistrywebservice/logregistry/appender/LowlevelBitstorage/getStatusSince/{date};
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/surveillance-logregistrywebservice/logregistry/appender/HighlevelBitstorage/getStatusSince/{date};
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/surveillance-logregistrywebservice/logregistry/appender/Characteriser/getStatusSince/{date};
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/surveillance-logregistrywebservice/logregistry/appender/Surveyor/getStatusSince/{date};
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/surveillance-logregistrywebservice/logregistry/appender/Fedora/getStatusSince/{date};
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/surveillance-logregistrywebservice/logregistry/appender/ECM/getStatusSince/{date}"
               override="false"/>
    <Parameter name="dk.statsbiblioteket.doms.surveillance.surveyor.soapUrls"
               value="
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/lowlevelbitstorage/lowlevelsurveyable/?wsdl;
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/highlevelbitstorage/highlevelsurveyable/?wsdl;
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/pidgenerator/pidgeneratorsurveyable/?wsdl;
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/updatetrackerWebservice/updatetrackersurveyable/?wsdl;
               http://$TOMCAT_SERVERNAME$:$PORTRANGE$80/centralDomsWebservice/domsserversurveyable/?wsdl" override="false"/>


    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->

    <!-- Uncomment this to enable Comet connection tacking (provides events
         on session expiration as well as webapp lifecycle) -->
    <!--
    <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
    -->

</Context>
