database.jdbcDriverClass=org.postgresql.Driver
database.jdbcURL=jdbc\:postgresql\://localhost/$DATABASE_NAME$
database=postgresql
database.postgresql.driver=included
database.postgresql.jdbcDriverClass=org.postgresql.Driver
database.postgresql.jdbcURL=jdbc\:postgresql\://localhost/$DATABASE_NAME$

