database.jdbcDriverClass=org.apache.derby.jdbc.EmbeddedDriver
database.jdbcURL=jdbc\:derby\:$INSTALLDIR$/data/derby/fedora3;create\=true
database=included
database.password=fedoraAdmin
database.username=fedoraAdmin

