*/5 * * * * root . /root/.bashrc; date >> /var/log/cron.log 2>&1; /usr/local/sboi-summarise/bin/ingest_update.sh >> /var/log/cron.log 2>&1; /usr/local/sboi-summarise/bin/index_update.sh >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
